<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="/static/style1.css">

  
  
</head>
<body>
<!-- partial:index.partial.html -->

<form method="POST">
  {% csrf_token %}
<div class="login-form">
  <form>
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="Email" placeholder="Enter Email" name="email" required/>
        <!-- <input type="email" placeholder="Email" autocomplete="nope"> -->
      </div>
      <div class="input-field">
        <input type="password" placeholder="Enter Password" name="pwd" required/>
        <!-- <input type="password" placeholder="Password" autocomplete="new-password"> -->
      </div>
      <a href="#" class="link">Forgot Your Password?</a>
    </div>
    <div class="action">
      
      
      <!-- <button><em><a href="{% url 'reg' %}">Registration</a></em></button> -->
      <button type="submit">Sign in</button>
    </div>
    {% if messages %}
{% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}
{% endif %}
<hr/>
<center><em>If You Can't Login, <a href="{% url 'reg' %}">Register</a> First</em></center>
  </form>
</div>
<!-- partial -->
  <script  src="/static/css/script1.js"></script>

</body>
</html>

<!-- <h1>this is login page</h1>
<hr/>
<form method="POST">
    {% csrf_token %}
<table border="1">
  <tr>
    <td>email :</td>
    <td><input type="text" placeholder="Enter User Name"  name="email" required/></td>
  </tr>
  {% comment %} <tr>
    <td>Email :</td>
    <td><input type="Email" placeholder="Enter Email" name="email" required/></td>
  </tr> {% endcomment %}
  <tr>
    <td>Password :</td>
    <td><input type="password" placeholder="Enter Password" name="pwd" required/></td>
  </tr>
  <tr>
    <td><button type="submit">Login</td>
  </tr>
</table>
{% if messages %}
{% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}
{% endif %}
<hr/>
<em>If You Cannot Register <a href="{% url 'reg' %}">Registration</a></em>
</form>
</div>
</a>
</body>
</html> -->