<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        {% static %}
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
        <link rel="stylesheet" href="/static/style.css'" />
    </head>

    <body>
        <form method="POST" class="post-form" action="/update/{{profile.id}}">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <h3>Update Details</h3>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Full Name:</label>
                    <div class="col-sm-4">
                        <input type="text" name="full_name" id="id_full_name" required maxlength="20" value="{{ profile.full_name }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">User Name:</label>
                    <div class="col-sm-4">
                        <input type="text" name="user_name" id="id_user_name" required maxlength="20"
                            value="{{ profile.user_name }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Email:</label>
                    <div class="col-sm-4">
                        <input type="email" name="user_email" id="id_user_email" required maxlength="20"
                            value="{{ profile.user_email }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Curent Password:</label>
                    <div class="col-sm-4">
                        <input type="password" name="curr_pass" id="id_curr_pass" required maxlength="15"
                            value="{{ profile.curr_pass }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">New Password:</label>
                    <div class="col-sm-4">
                        <input type="password" name="new_pass" id="id_new_pass" required maxlength="15"
                            value="{{ profile.new_pass }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Confirm Password:</label>
                    <div class="col-sm-4">
                        <input type="password" name="con_pass" id="id_con_pass" required maxlength="15"
                            value="{{ profile.con_pass }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </body>

</html>
